NODE_ENV = development
NIMROD_API_URL="https://www.nimrod-messenger.io/api/v1/message"
NIMROD_API_KEY=""


kucoin_API_KEY=
kucoin_SECRET=
kucoin_PASSWORD=

PORT=

WEB3_NODE=
GAS_PRICE_INFO="https://www.etherchain.org/api/gasPriceOracle"
FROM=
KEY=
